<div class="container">
    <nav>
        <div class="itemsNav" routerLink="home">
            <i class='bx bx-chevron-left' style='color:#ffffff'  ></i>
            <h2>Volver</h2>
        </div>
        <h1 style="margin-left: 150px;">Preguntados</h1>
    </nav>
    <h2 style="margin-left: 230px; color: #f1c555;">Seleccione una categoria:</h2>
    <br>
    <div class="contenido">
        <div class="image-container">
            <img src="../../../../assets/images/preguntados/arte.png" alt="Imagen">
            <div class="overlay">
              <p>Arte</p>
            </div>
        </div>
        <div class="image-container">
            <img src="../../../../assets/images/preguntados/ciencia.png" alt="Imagen">
            <div class="overlay">
              <p>Ciencia</p>
            </div>
        </div>
        <div class="image-container">
            <img src="../../../../assets/images/preguntados/deportes.png" alt="Imagen">
            <div class="overlay">
              <p>Deportes</p>
            </div>
        </div>
        <div class="image-container">
            <img src="../../../../assets/images/preguntados/entretenimiento.png" alt="Imagen">
            <div class="overlay">
              <p>Entretenimiento</p>
            </div>
        </div>
        <div class="image-container">
            <img src="../../../../assets/images/preguntados/geografia.png" alt="Imagen">
            <div class="overlay">
              <p>Geografía</p>
            </div>
        </div>
        <div class="image-container">
            <img src="../../../../assets/images/preguntados/historia.png" alt="Imagen">
            <div class="overlay">
              <p>Historia</p>
            </div>
        </div>

    </div>
</div>