<div class="container">
    <h1>Sala de chat</h1>
    <br>
    <div class="contenido">
        <div class="containerDos">
            Ejemplo mensaje 1
            <br>
            <br>
            Ejemplo mensaje 2
            <br>
            <br>
            Ejemplo mensaje 3
            <br>
            <br>
            Ejemplo mensaje 4 
            <br>
            <br>
            Ejemplo mensaje 2
            <br>
            <br>
            Ejemplo mensaje 3
            <br>
            <br>
            Ejemplo mensaje 4
        </div>

        <div class="containerTres">
            <div class="input-box">
                <input id="mensaje-chat" type="text" placeholder="Escriba aqui...">
                <i class='bx bx-send' style='color:#ffffff'  ></i>
            </div>
        </div>

        

    </div>

</div>
