<div class="container">
    <h1>Sala de chat</h1>
    <br>
    <div class="contenido">
        <div #containerDos class="containerDos" id="chatContainer">

            @for(item of mensajes; track $index) 
            {
                @if (item.userMail == userEmail) 
                {
                    <!-- padding-left: 75%;  -->
                    <div class="mensajeUser">
                        <a>{{item.message}}</a>
                        <br>
                        <a style="font-size: x-small;"> - {{item.hora}}</a>
                        <br>
                        <br>
                    </div>
                }
                @else 
                {
                    <div class="mensaje">
                        <a>{{item.message}}</a>
                        <br>
                        <a style="font-size: x-small;">{{item.userMail}}</a>
                        <a style="font-size: x-small;"> - {{item.hora}}</a>
                        <br>
                        <br>
                    </div>
                }
                
                

            }
            
        </div>

        <div class="containerTres">
            <div class="input-box">
                <input  [(ngModel)]="mensaje" id="mensaje-chat" type="text" placeholder="Escriba aqui..." (keyup.enter)="GuardarMensaje()">
                <i (click)="GuardarMensaje()" class='bx bx-send' style='color:#ffffff'  ></i>
            </div>
        </div>

        

    </div>

</div>
