<div class="container">
    <h1>Quien soy?</h1>
    <br>
    <div class="contenido">
        
        <img src="../../../assets/images/IMG_8519.jpg" alt="">
        <p>
            <br>
            <strong>Hola 👋,</strong>  mi nombre es Danilo, tengo 22 años y actualmente estoy cursando Laboratorio 4
            en la UTN. <br><br>
            Me encuentro trabajando como desarrollador backend en la Gerencia operativa de 
            desarrollo informatico del Ministerio de Habitat y Desarrollo Humano. <br><br>
            El juego que elegi hacer el el Simon ya que me parecio un juego entretenido 
            que jugaba cuando era chico. <br><br>
        </p>

    </div>

</div>
