<div class="container">
    <h1>Quien soy?</h1>
    <br>
    <div class="contenido">
        
        <img src="../../../assets/images/IMG_8519.jpg" alt="">
        <p>
            <br>
            <strong>Hola 👋,</strong>  mi nombre es Danilo, tengo 22 años y actualmente estoy cursando Laboratorio 4
            en la UTN. 
            <br>
            <!-- <i class='bx bxl-linkedin-square' style='color:#498cd4; font-size: xx-large;' > </i>
            <i class='bx bxl-github' style='color:#413b3b; font-size: xx-large; margin-left: 7px;'  ></i> -->
            <br>
            Me encuentro trabajando como desarrollador backend en la Gerencia operativa de 
            desarrollo informatico del Ministerio de Habitat y Desarrollo Humano. 
            <br><br>
            El juego que elegi hacer el el Simon, este consiste en tratar de seguir el patron de colores, 
            la velocidad de cada uno de los niveles (La cual aumentará progresivamente en las rondas 2, 5 y 8.) 
            que se muestren en el dispositivo 
            y llegar a la ronda 10 para conseguir la victoria y alcanzar un maximo de 100pts.
            
            
            
        </p>
        
    </div>

</div>
