.container{
    width: 720px;
    height: 550px;
    background: transparent 50%;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    /* hacerle espacio entre los borde y el contenido */
    border-radius: 10px;/* bordes redondos */
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    position: relative;
    /* justify-content: center; *//* centra todo lo que este dentro del container */
    transition: height .45s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
}

.itemsNav{
    display: flex;
}

.itemsNav:hover{
    color: #f1c555;
}


h1{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
}





nav{
    display: flex;
    justify-content: space-between;
}

i{
    right: 20px;
    top: 50%;
    transform: translateY(15%); 
    font-size: 20px;
    cursor: pointer;
}

nav h2{
    font-weight: 5004;
    cursor: pointer;
}





footer{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

button{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

footer button{
    padding: 9px 25px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease 0s;
}

.corazones{
    transform: translateY(-12%);
}

.corazones i{
    font-size: 30px;
}

.vidas{
    display: flex;
}

.vidas i,h2{
    cursor: default;
}

.botonesSelect{
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}


.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Deja el espacio entre la imagen y los botones */
    align-items: center;
    background-color: transparent;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  
  .imagen-bandera {
    max-width: 350px;
    height: 200px;
   
    margin-bottom: 50px;
  }
  
  .buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px 10px;
    width: 100%; 
    max-width: 400px; 
    justify-content: center;
    align-items: center;
    
  }
  
  .button {
    padding: 7px 50px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 300px; 
    max-width: 400px;
  }
  
  .button:hover {
    background-color: #f1c555;

  }
  
  /* botones pegados al fondo */
  .buttons-container {
    margin-top: auto;
    margin-bottom: 0;
  }


.restart-button{
    padding: 7px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 300px; 
    background-color: #f1c555; 
    color: #000000;
    margin-left: 50px;
}

.restart-button:hover{
    background-color: #53c736;
    color: #fff;
}