<div class="general">
    <div class="container">
        <nav>
            <div class="itemsNav" routerLink="home">
                <i class='bx bx-chevron-left' style='color:#ffffff'  ></i>
                <h2>Volver</h2>
            </div>

            
            <h1>Adivina la bandera</h1>
            <div class="vidas">
                <h2 style="margin-right: 10px; cursor:default">Vidas:</h2>
                <div class="corazones">
                    @switch (vidas) 
                    {
                        @case (0)
                        {
                            <i class='bx bx-heart bx-tada' style='color:#f15555' ></i>
                            <i class='bx bx-heart bx-tada' style='color:#f15555' ></i>
                            <i class='bx bx-heart bx-tada' style='color:#f15555' ></i>
                        }
                        @case (1)
                        {
                            <i class='bx bxs-heart' style='color:#f15555'  ></i>
                            <i class='bx bx-heart bx-tada' style='color:#f15555' ></i>
                            <i class='bx bx-heart bx-tada' style='color:#f15555' ></i>
                        }
                        @case (2)
                        {
                            <i class='bx bxs-heart' style='color:#f15555'  ></i>
                            <i class='bx bxs-heart' style='color:#f15555'  ></i>
                            <i class='bx bx-heart bx-tada' style='color:#f15555' ></i>
                        }
                        @case (3) 
                        {
                            <i class='bx bxs-heart' style='color:#f15555'  ></i>
                            <i class='bx bxs-heart' style='color:#f15555'  ></i>
                            <i class='bx bxs-heart' style='color:#f15555'  ></i>
                        }

                    }
                </div>
            </div>
            
        </nav>
        <br>
        <div class="contenido">
            
            <img src="{{imagenBandera}}" alt="Imagen" class="imagen-bandera">
            
            <div class="buttons-container">

                @if(vidas>=1)
                {
                    @for (item of opcionesPaises; track $index) 
                    {
                        <button (click)="VerificarRespuesta(item)" 
                        class="button" 
                        [ngStyle]="{'background-color': item === respuestaSeleccionada 
                                                ? (esCorrecta ? '#53c736' : 'rgb(231, 52, 52)') 
                                                : 'white'}">
                        {{item}}</button>
                    }
                }
                @else if (vidas<1) 
                {   
                    <button (click)="ReiniciarJuego()" class="restart-button" >Restart</button>
                }
            </div>

        </div>
        <footer>
            @if(vidas<1)
            {
                <h2 style="font-size: xx-large; font-weight: 500;">¡Has perdido!</h2>
            }
            <h2 style="font-size: xx-large; font-weight: 500;">Puntos: {{puntos}}</h2>
        
            
        </footer>
    </div>
</div>
