<div class="container">
    <nav>
        <div class="itemsNav" routerLink="home">
            <i class='bx bx-chevron-left' style='color:#ffffff'  ></i>
            <h2>Volver</h2>
        </div>
    </nav>
    <h1>Simon</h1>
    <br>
    <div class="contenido">
        <div class="simon-container">

            <button class="simon-btn verde"></button>
            <button class="simon-btn rojo"></button>
            <button class="simon-btn amarillo"></button>
            <button class="simon-btn azul"></button>
            <div class="centro">SIMON</div>
            
        </div>
    </div>
</div>