<div class="container">
    <nav>
        <div class="itemsNav" routerLink="home">
            <i class='bx bx-chevron-left' style='color:#ffffff'  ></i>
            <h2>Volver</h2>
            
        </div>
        <h1>Simon</h1>
        <h2 style="margin-right: 10px; cursor:default">Puntos:</h2>
        
    </nav>
    <br>
    <div class="contenido">
        <div class="simon-container">

            <button (click)="onClick('verde')" #botonVerde class="simon-btn verde"></button>
            <button (click)="onClick('rojo')" #botonRojo class="simon-btn rojo"></button>
            <button (click)="onClick('amarillo')" #botonAmarillo class="simon-btn amarillo"></button>
            <button (click)="onClick('azul')" #botonAzul class="simon-btn azul"></button>
            <div (click)="startGame()" class="centro">
                START
            </div>
            
        </div>
    </div>
</div>