.container{
    width: 700px;
    height: 550px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    /* hacerle espacio entre los borde y el contenido */
    border-radius: 10px;/* bordes redondos */
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    position: relative;
    justify-content: center;/* centra todo lo que este dentro del container */
    transition: height .45s ease;
    overflow: hidden;
}



.containerDos{
    width: 600px;
    height: 370px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    /* hacerle espacio entre los borde y el contenido */
    border-radius: 10px;/* bordes redondos */
    padding: 25px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    position: relative;
    transition: height .45s ease;
    overflow: hidden;
    margin-bottom: 3%;
    margin-top: 15px;
    text-align: center;
    justify-content: space-evenly;
}

h1{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
}

strong
{
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

p{
    justify-content: space-between;
    flex: 1;
}

button{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    padding: 9px 25px;
    border-radius: 30px;
    
    
    border: none;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
}

button:hover{
    background-color: #f1c555;
}


.botonesSelect{
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}


.tabla-puntos {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: transparent;
}

.tabla-puntos thead {
    background-color: rgba(0, 0, 0, 0.1);
}

.tabla-puntos th, 
.tabla-puntos td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    color: #fff;
}

.tabla-puntos th {
    background-color: rgba(0, 0, 0, 0.2);
    color: #f1c555;
}

.tabla-puntos tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.tabla-puntos td {
    background-color: transparent;
}

.tabla-puntos th, .tabla-puntos td {
    border-color: gray;
}