<div class="container">
    <div class="imagen-texto">
        <article>
            <img src="../../../assets/images/preguntados.png" alt="">
            <img src="../../../assets/images/pngPreguntados.png" alt="">
        </article>
        <br>
        <br>
        <h3>Preguntados</h3>
    </div>
    <div class="imagen-texto">
        <article>
            <img src="../../../assets/images/ahorcadoFondo.png" alt="">
            <img src="../../../assets/images/ahoracadoPNG.png" alt="">
        </article>
        <br>
        <br>
        <h3>Ahoracado</h3>
    </div>
    <div class="imagen-texto">
        <article>
            <img src="../../../assets/images/cartasFondo.png" alt="">
            <img src="../../../assets/images/cartasPNG.png" alt="">
        </article>
        <br>
        <br>
        <h3>Cartas</h3>
    </div>
    <div class="imagen-texto">
        <article>
            <img src="../../../assets/images/SimonFONDO.png" alt="">
            <img src="../../../assets/images/simoPNG.png" alt="">
        </article>
        <br>
        <br>
        <h3>Simon</h3>
    </div>
</div>

