<div class="container">
    <nav>
        <div class="itemsNav" routerLink="home">
            <i class='bx bx-chevron-left' style='color:#ffffff'  ></i>
            <h2>Volver</h2>
        </div>

        
        <h1>Ahorcado</h1>
        <div class="vidas">
            <h2 style="margin-right: 10px;">Puntos:  {{puntos}}</h2>
        </div>
        
    </nav>
    <br>
    <div class="contenido">
        <div class="game">
            @switch(vidas)
            {
                @case(6)
                {
                    <img src="../../../../assets/images/ahorcado1.png" alt="">
                }
                @case(5)
                {
                    <img src="../../../../assets/images/ahorcado2.png" alt="">
                }
                @case(4)
                {
                    <img src="../../../../assets/images/ahorcado3.png" alt="">
                }
                @case(3)
                {
                    <img src="../../../../assets/images/ahorcado4.png" alt="">
                }
                @case(2)
                {
                    <img src="../../../../assets/images/ahorcado5.png" alt="">
                }
                @case(1)
                {
                    <img src="../../../../assets/images/ahorcado6.png" alt="">
                }
                @case(0)
                {
                    <img src="../../../../assets/images/ahorcado7.png" alt="">
                }
            }
            <h2>{{ palabraOculta.join(' ') }}</h2>
        </div>
        <div class="keyboard">
            <div class="row">
              <button class="key" *ngFor="let letra of 'QWERTYUIOP'.split('')" 
                      (click)="seleccionarLetra(letra)" 
                      [disabled]="letrasSeleccionadas.includes(letra)">
                {{ letra }}
              </button>
            </div>
            
            <div class="row">
              <button class="key" *ngFor="let letra of 'ASDFGHJKL'.split('')" 
                      (click)="seleccionarLetra(letra)" 
                      [disabled]="letrasSeleccionadas.includes(letra)">
                {{ letra }}
              </button>
            </div>
            
            <div class="row">
              <button class="key" *ngFor="let letra of 'ZXCVBNM'.split('')" 
                      (click)="seleccionarLetra(letra)" 
                      [disabled]="letrasSeleccionadas.includes(letra)">
                {{ letra }}
              </button>
            </div>
          </div>

    </div>
</div>