.container{
    width: 750px;
    height: 550px;
    background: transparent 50%;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    /* hacerle espacio entre los borde y el contenido */
    border-radius: 10px;/* bordes redondos */
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    position: relative;
    /* justify-content: center; *//* centra todo lo que este dentro del container */
    transition: height .45s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
}

.itemsNav{
    display: flex;
}

.itemsNav:hover{
    color: #f1c555;
}

.containerDos .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* background: salmon; */
    margin-bottom: 20px;
    margin-top: 10px;
}


.input-box input{
    width: 150px;
    height: 7px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

h1{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-right: 50px;
}


nav{
    display: flex;
    justify-content: space-between;
}

i{
    right: 20px;
    top: 50%;
    transform: translateY(15%); 
    font-size: 20px;
    cursor: pointer;
}

nav h2{
    font-weight: 5004;
    cursor: pointer;
}





footer{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}


button{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    padding: 9px 35px;
    border-radius: 30px;
    color: black;
    background-color: #fff;
    border: none;
    transition: all 0.3s ease 0s;
}

.cancelarBtn:hover{
    background-color: rgb(233, 66, 66);
    color: #fff;
}

.enviarBtn:hover{
    background-color: #53c736;
    color: #fff;
}






.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Deja el espacio entre la imagen y los botones */
    align-items: center;
    background-color: transparent;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }

  .containerDos{
    width: 650px;
    height: 350px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    /* hacerle espacio entre los borde y el contenido */
    border-radius: 10px;/* bordes redondos */
    padding: 25px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    position: relative;
    transition: height .45s ease;
    overflow: hidden;
    margin-bottom: 3%;
    
}